/* reset */
* {
    box-sizing: border-box;
    font-family: Inter, 'sans-serif';
}

/* utilities */
.flex {
    display: flex;
}

.fl-cntr {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.btn {
    cursor: pointer;
    border: 0;
    outline-color: transparent;
}

/* styling */
body {
    background-color: #262626;
    color: #d9d9d9;
    padding: 1.25rem;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

.game-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #f9f4da;
}

.game-desc {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8e8e8e;
}

.status {
    background-color: #10a95b;
    color: #f9f4da;
    flex-direction: column;
    border-radius: 0.25rem;
    margin: 1.875rem 0;
}

.status-title {
    font-size: 1.25rem;
    margin: 0.3rem;
}

.status-subtitle {
    font-size: 0.875rem;
    margin: 0.3rem;
}

.languages {
    max-width: 350px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.language-chip {
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.current-word {
    gap: 0.1rem;
    margin-top: 2rem;
}

.current-word span {
    border-bottom: 1px solid #f9f4da;
    font-size: 1.25rem;
    background-color: #323232;
    height: 35px;
    width: 35px;
}

.keyboard {
    margin-top: 2rem;
    max-width: 350px;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.keyboard button {
    border-radius: 0.2rem;
    height: 30px;
    width: 30px;
    background-color: #fcba29;
    border: 1px solid #d7d7d7;
}

.keyboard button.success {
    background-color: #10a95b;
}

.keyboard button.failure {
    background-color: #ec5d49;
}

.new-game {
    background-color: #11b5e5;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1rem;
}
